@media  (max-width:767px) {
    .navbar-nav{
        border: 1px gray solid;
        height: 100%;
        margin: 0 20px;
    }    

    .nav-link{
        color: black !important;
    }

    .navbar-brand{
        margin: 0px !important;
    }

    .landing-main-text{
        font-size: 23px !important;
      
      }
      .landing-caption-text{
        font-size: 13px !important;
      }
      .landing-icon-text{
        font-size: 21px !important;
      }
      .landing-icon{
        font-size: 35px !important;
      }
      .container-fluid{
        width: 100% !important;
        margin: 0 auto;
      }
      .contact-card{
        width: 100%;
      }
      .product-img{
        width: 100vh;
        height: 100vh;
        object-fit: cover ;
        
      }
      .landing-iconsection-main .right{
        margin: 0 0 0 15px !important;
      }
      .landing-iconsection-main .left{
        margin: 0 15px 0 0 !important;
      }
      .landing {
        align-items: baseline;
        justify-content: baseline;
      }
      .landing-main{
        margin-top: 80px;
      }

}

@media  (min-width:767px) and (max-width:850px) {
  .navbar-brand{
  margin: 0 !important;
  }
}